<nav class="navbar bg-dark navbar-expand-lg mb-3">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Igniter bookstore</a>
        <button
            class="navbar-toggler bg-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
        >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        (click)="onClickRecipes()"
                        class="nav-link active"
                        aria-current="page"
                    >
                        Recipes
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        (click)="onClickShoppingList()"
                    >
                        Shopping list
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        (click)="onClickOddEvenNumbers()"
                        class="nav-link"
                    >
                        Odd Even numbers
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown" dropdown>
                    <a
                        class="nav-link dropdown-toggle"
                        role="button"
                        href
                        (click)="(false)"
                        dropdownToggle
                    >
                        Manage
                        <span class="caret"></span>
                    </a>
                    <ul
                        class="dropdown-menu"
                        role="menu"
                        *dropdownMenu
                    >
                        <li role="menuitem">
                            <a class="dropdown-item" href="#">
                                Save Data
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item" href="#">
                                Fetch Data
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
