<div class="row">
    <div class="col-12">
        <img [src]="recipe.imageUrl" alt="#" class="img-fluid" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group" dropdown>
            <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                dropdownToggle
            >
                Manage recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" *dropdownMenu>
                <li role="menuitem">
                    <a class="dropdown-item" href="#">
                        Add ingredients to shopping list
                    </a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="#">
                        Edit recipe
                    </a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="#">
                        Delete recipe
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>{{ recipe.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Ingredients</p>
    </div>
</div>
