<div class="row mb-3">
    <div class="col-12">
        <button class="btn btn-success">New recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a
            href="#"
            class="list-group-item clearfix"
            *ngFor="let recipe of recipes"
        >
            <div class="float-start">
                <h4 class="">{{ recipe.name }}</h4>
                <p class="">{{ recipe.description }}</p>
            </div>
            <div class="float-end">
                <img
                    [src]="recipe.imageUrl"
                    [alt]="recipe.name"
                    class="img-fluid"
                    style="max-height: 50px"
                />
            </div>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
